nav {
    height: 60px;
    padding: 0 80px;
}

.navMenu ul li {
    list-style-type: none;
    margin: 0 18px;
    position: relative;
}

.navMenu ul li a:hover::before {
    content: ' ';
    height: 2px;
    background-color: var(--secondary-color);
    width: 90%;
    position: absolute;
    border-radius: 10%;
    top: 20px;
}