section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-layout{
    border-top: 2px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-radius: 10px;
    min-width: 260px;
    min-height: 550px;
    position: relative;
    width: 256px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: var(--bg-color);

}

.cam-hole{
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 6px;
    margin-left: 12px;
    margin-top: 10px;
    left: 0;
    top: 0;
}

.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    margin: 10px;
    margin-top: 35px;
}

.menu span{
    display: block;
    width: 15px;
    height: 2px;
    background-color: var(--primary-color);
}
.menu span:nth-child(1){
    width: 20px;
}

.mobile-layout .title{
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
}